# Configuración de Seguridad
SECRET_KEY=tu_clave_secreta_aqui
SECRET_PEPPER=tu_pepper_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Base de Datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/nombre_db

# Frontend
FRONTEND_URL=http://localhost:3000